{% extends 'base.html' %}
{% block body %}
<div class="container my-4">
    <h2>Welcome, {{ current_user.username }}!</h2>
    <form action="{{ url_for('update', todo_id=todo._id) }}" method="POST">

        <div class="mb-3">
            <label>To-Do Title</label>
            <input type="text" name="title" class="form-control" value="{{ todo.title }}" required>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <input type="text" name="desc" class="form-control" value="{{ todo.desc }}" required>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>

    

     
        <tbody>
            {% for todo in allToDo %}
            <tr>
                <td>{{ todo.title }}</td>
                <td>{{ todo.desc }}</td>
                <td>{{ todo.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>
                  <a href="{{ url_for('update', todo_id=str(todo._id)) }}" class="btn btn-primary btn-sm">Update</a>
                  <a href="{{ url_for('delete', todo_id=str(todo._id)) }}" class="btn btn-danger btn-sm">Delete</a>
                  
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
